<div class="container">
  <div class="form-group">
    <div class="dropdown" (click)="dropDownClick()">
      <div class="dropdown-input">
        <img [src]="selectedItem?.flag" alt="Currency Flag" />
        <span class="currency-name">{{ selectedItem?.code }} -</span>
        <input
          type="text"
          readonly
          placeholder="Select a currency"
          name="dropdown"
          [(ngModel)]="selectedItem.name"
        />
        <input
          type="text"
          placeholder="Type to search..."
          id="searchbox"
          [(ngModel)]="searchTerm"
        />
      </div>
      <div class="option">
        <ng-container
          *ngFor="
            let currency of currenciesService.currencyList
              | searchFilter: searchTerm
          "
        >
          <div class="option-item" (click)="selectCurrency(currency)">
            <img [src]="currency.flag" alt="Currency Flag" />
            <span
              >{{ currency.code }} - <span>{{ currency.name }}</span></span
            >
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
