<div class="container">
  <div class="form-group">
    <div class="dropdown" (click)="dropDownClick()">
      <div class="dropdown-input">
        <img [src]="selectedItem?.flag" alt="Currency Flag" />
        <span class="currency-name">{{ selectedItem?.code }} -</span>
        <input
          type="text"
          readonly
          placeholder="Select a currency"
          name="dropdown"
          [(ngModel)]="selectedItem.name"
        />
        <input
          type="text"
          placeholder="Type to search..."
          id="searchbox"
          [(ngModel)]="searchTerm"
          (input)="searchCurrency()"
        />
      </div>
      <div class="option" [ngClass]="currenciesService.currencyList.length === 0 ? 'no-result' : ''">
        <ng-container *ngIf="currenciesService.currencyList.length !== 0">
          <div
            class="option-item"
            *ngFor="let currency of currenciesService.currencyList"
            (click)="selectCurrency(currency)"
          >
            <img [src]="currency.flag" alt="Currency Flag" />
            <span
              >{{ currency.code }} - <span>{{ currency.name }}</span></span
            >
          </div>
        </ng-container>
        <div
          *ngIf="currenciesService.currencyList.length === 0"
        >
          <span>No results found</span>
        </div>
      </div>
    </div>
  </div>
</div>
